VITE_LOGTO_ENDPOINT=http://localhost:3001
VITE_LOGTO_APP_ID=
VITE_LOGTO_RESOURCE=http://localhost:8000

# Backend Service URLs
VITE_DEVICE_SERVICE_URL=http://localhost:8002
VITE_AUTH_SERVICE_URL=http://localhost:8003
VITE_NOTIFICATION_SERVICE_URL=http://localhost:8004
