POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-logto-db-password
POSTGRES_DB=logto
DB_URL=postgres://postgres:change-me-logto-db-password@logto-postgres:5432/logto
ENDPOINT=http://localhost:3001
ADMIN_ENDPOINT=http://localhost:3002
TRUST_PROXY_HEADER=1
PRIVATE_KEY_ROTATION_GRACE_PERIOD=
SSRF_ALLOWED_ADDRESSES=
SSRF_PROTECTION_DISABLED=
OIDC_PROVIDER_SSRF_PROTECTION_DISABLED=
